extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 grant wasil

        //- Feel free personalize the title below
        p.lead.text-light
          | sales professional become programmer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | with my sales background with your desire for a website, we will be unstoppable.
            | i'm always looking for a challenge and i'd love to chat about your companies wants
            | and needs. 
            br
            br
            | please reach out to my email and let's do business.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li express
          li node.js
          li pug
          li jquery
          li javascript
          li html
          li css
        h6 contact info

        //- Add your own contact info
        ul
          li grantwasil1@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/grantwasil/') LinkedIn
        a.button.expanded(href='https://github.com/GrantWasil') GitHub
        a.button.expanded(href='https://twitter.com/GrantWasil') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
