extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 grant wasil


        p.lead.text-light
          | sales professional become programmer


        .portfolio-bio
          p
            | As a self-taught programmer, I'm looking for further opportunities to expand my knowledge 
            | and push my boundaries. My passion is in technology, and I'm looking forward to combining 
            | my people skills with my new career.  
            br
            br
            | I look forward to applying my previous sales knowledge to a new career in tech 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 skills


        ul
          li REST API 
          li react
          li express
          li node.js
          li jquery
          li javascript
        h6 contact info


        ul
          li grantwasil1@gmail.com


        a.button.expanded(href='https://www.linkedin.com/in/grantwasil/') LinkedIn
        a.button.expanded(href='https://github.com/GrantWasil') GitHub
        a.button.expanded(href='https://twitter.com/GrantWasil') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
