extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Grant Wasil


        p.lead.text-light
          | Web Development with a Sales Background


        .portfolio-bio
          p
            | I'm a Full Stack web developer with experience in Facebook Messenger chat applications and React-based websites. 
            | I love pushing myself to find creative solutions and I'm looking for a workspace with the opprotunity for personal growth. 
            | One of my biggest strengths is my sales experience of 8+ years, which I love applying to my projects to have a "Sales-First" mindset.
            br
            br
            | When you're looking for a canidate who has strong communication skills and loves working on teams, I'm your guy!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 skills


        ul
          li Heroku 
          li React
          li Express
          li Node.js
          li JQuery
          li Javascript
        h6 contact info


        ul
          li dev@grantwasil.com


        a.button.expanded(href='https://www.linkedin.com/in/grantwasil/') LinkedIn
        a.button.expanded(href='https://github.com/GrantWasil') GitHub
        a.button.expanded(href='https://twitter.com/GrantWasil') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
